# Disable directory browsing 
Options -Indexes

# Deny access to .htaccess
<Files .htaccess>
Order allow,deny
Deny from all
</Files>

# Deny access to filenames starting with dot(.)
<FilesMatch "^\.">
Order allow,deny
Deny from all
</FilesMatch>

# Deny access to files with extensions .ini, .psd, .log, .sh .json .lock .md
<FilesMatch "\.(ini|psd|log|sh|json|lock|md)$">
Order allow,deny
Deny from all
</FilesMatch>

# Force HTTPS
RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} =http
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Removing .php Extension from URL
RewriteEngine on
RewriteCond %{THE_REQUEST} /([^.]+)\.php [NC]
RewriteRule ^ /%1 [NC,L,R]

# Redirect for complete URL
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [NC,L]

# Return 404 if original request is .php (which probably could not happen anyways)
RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$"
RewriteRule .* - [L,R=404]

# Error Handling
# Bad Reqeust
ErrorDocument 400 http://letsapi.me/handler/errors/400

# Unauthorized
ErrorDocument 401 http://letsapi.me/handler/errors/401

# Forbidden
ErrorDocument 403 http://letsapi.me/handler/errors/403

# Page Not Found
ErrorDocument 404 http://letsapi.me/handler/errors/404

# Internal Server Error
ErrorDocument 500 https://infinityfree.net/errors/500/

# Service Unavailable
ErrorDocument 503 https://infinityfree.net/errors/503/