body {
    font-family: 'Manrope', sans-serif;
    background-image: url('src/bg.jpg');
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

a {
    text-decoration:none;
    color: inherit;
}

.logo {
    max-width: 46px;
    max-height:46px;
}

header {
    margin: 24px 128px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {

    margin: 0 24px;
}

ul {
    display:flex;
    list-style-type: none;
}

.login {
    width: 93px;
    height: 35px;
    background: #00623B;
    border-radius: 6px;
    color: #fff;
}

h1 {
    margin-top: 68px;
    text-align: center;
    font-size: 28pt;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 128px;
    flex-wrap: wrap;
}

img {
    max-width: 60%;
    max-height: 60%;
}

p {
    text-align: center;
}

.rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    width: 135px;
    height: 125px;
    background: radial-gradient(97.57% 210.75% at 0.9% 2.98%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(42px);
    /* Note: backdrop-filter has minimal browser support */
    margin: 0 64px;
    border-radius: 12px;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    position: relative;
    display: flex;
    min-width: 100px;
    height: 48px;
    width: 662px;
}

.search {
    outline: 0;

    width: 100%;
    padding: 2px 23px 2px 30px;
    height: 48px;
    border: 1px solid #fff;
    background: radial-gradient(97.57% 210.75% at 0.9% 2.98%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(42px);
    border-radius: 12px;
}


.button {
    font-size: 12pt;
    margin-left: 14px;
    width: 128px;
    height: 48px;
    border: 1px solid rgb(108, 177, 139);
    background: #00623B;
    backdrop-filter: blur(42px);
    /* Note: backdrop-filter has minimal browser support */
    color: #fff;
    border-radius: 12px;
}

@media (min-width: 576px) { 
    
 }

@media (max-width: 768px) { 
    h1 {
        margin-top: 128px;
        text-align: center;
        font-size: 18pt;
    }
 }